@using practice1.Models;
@model IEnumerable<Nbaplayer>
@{


    ViewBag.Title = "index";
}

<h2>index</h2>

<table class="table table-hover">
    <tr>
        <td>id</td>
        <td>first name</td>
        <td>last name</td>
        <td>team</td>
    </tr>
    @foreach (Nbaplayer p in Model)
    {
        <tr>
            <td>@p.id</td>
            <td>@p.fname</td>
            <td>@p.lname</td>
            <td>@p.team</td>
        </tr>


    }

</table>

